body {
  padding: 30px 0;

  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(150,171,106,0.13769257703081228) 45%, rgba(24,188,236,1) 85%, rgba(0,212,255,1) 100%);
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
}
